---
version: 1
interactions:
- request:
    body: '{"credentials":{"name":"user@meteor","password":"password","site":{"contentUrl":"testdev550928"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - ""
    url: https://server.tableau.com/api/3.13/auth/signin
    method: POST
  response:
    body: '{"credentials":{"site":{"id":"529d2cc3-0b46-4360-aa69-688785ce1497","contentUrl":"testdev550928"},"user":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245"},"token":"Cab3YR3ORK-M4UHp5sWbXw|4qxMDA1hfuGptVUIDQwoPXMlJu3HFhS3"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 1.60747305s
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - Cab3YR3ORK-M4UHp5sWbXw|4qxMDA1hfuGptVUIDQwoPXMlJu3HFhS3
    url: https://server.tableau.com/api/3.13/sites/529d2cc3-0b46-4360-aa69-688785ce1497/workbooks?pageSize=1000&pageNumber=1
    method: GET
  response:
    body: '{"pagination":{"pageNumber":"1","pageSize":"1000","totalAvailable":"3"},"workbooks":{"workbook":[{"project":{"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","name":"Samples"},"location":{"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","type":"Project","name":"Samples"},"owner":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245","name":"user@meteor"},"tags":{},"dataAccelerationConfig":{"accelerationEnabled":false},"id":"969428bf-0bde-4c73-8efe-04c37ec7c2ba","name":"Regional","contentUrl":"Regional","webpageUrl":"https://server.tableau.com/#/site/testdev550928/workbooks/88352","showTabs":"true","size":"2","createdAt":"2021-11-01T11:32:30Z","updatedAt":"2021-11-01T11:32:31Z","encryptExtracts":"false","defaultViewId":"224d5a29-8a40-4b33-9ba5-9af0bab5b661"},{"project":{"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","name":"Samples"},"location":{"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","type":"Project","name":"Samples"},"owner":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245","name":"user@meteor"},"tags":{"tag":[{"label":"forecast"},{"label":"storage"}]},"dataAccelerationConfig":{"accelerationEnabled":false},"id":"a22c1975-13a4-4b66-88e1-d68757e2dc97","name":"Superstore","description":"A
      sample superstore","contentUrl":"Superstore","webpageUrl":"https://server.tableau.com/#/site/testdev550928/workbooks/88353","showTabs":"true","size":"2","createdAt":"2021-11-01T11:32:35Z","updatedAt":"2021-11-02T06:07:18Z","encryptExtracts":"false","defaultViewId":"43807016-73ff-4152-a822-3cd300d9618a"},{"project":{"id":"c95e1f64-1c3c-4ddf-8999-047a54e2af44","name":"test-meteor"},"location":{"id":"c95e1f64-1c3c-4ddf-8999-047a54e2af44","type":"Project","name":"test-meteor"},"owner":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245","name":"user@meteor"},"tags":{},"dataAccelerationConfig":{"accelerationEnabled":false},"id":"37040233-8f4c-4b17-aecf-5c4be36dbf27","name":"InMail
      Engagement","contentUrl":"InMailEngagement","webpageUrl":"https://server.tableau.com/#/site/testdev550928/workbooks/88403","showTabs":"true","size":"1","createdAt":"2021-11-02T11:57:32Z","updatedAt":"2021-11-02T11:57:33Z","encryptExtracts":"false","defaultViewId":"aea8019f-b29a-4e0f-b5d8-a96fc52188c1"}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 261.596138ms
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - Cab3YR3ORK-M4UHp5sWbXw|4qxMDA1hfuGptVUIDQwoPXMlJu3HFhS3
    url: https://server.tableau.com/api/3.13/sites/529d2cc3-0b46-4360-aa69-688785ce1497/workbooks/969428bf-0bde-4c73-8efe-04c37ec7c2ba
    method: GET
  response:
    body: '{"workbook":{"project":{"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","name":"Samples"},"location":{"id":"46b2914d-6d2c-4cc5-ba2a-643840c036c6","type":"Project","name":"Samples"},"owner":{"id":"2aed1e7b-975b-430f-ab9d-a574bb88f245","name":"user@meteor"},"tags":{},"views":{"view":[{"tags":{},"id":"224d5a29-8a40-4b33-9ba5-9af0bab5b661","name":"Obesity","contentUrl":"Regional/sheets/Obesity","createdAt":"2021-11-01T11:32:31Z","updatedAt":"2021-11-01T11:32:31Z","viewUrlName":"Obesity"},{"tags":{},"id":"a139e8b6-03c8-4989-b37b-a7f7e6e82415","name":"College","contentUrl":"Regional/sheets/College","createdAt":"2021-11-01T11:32:31Z","updatedAt":"2021-11-01T11:32:31Z","viewUrlName":"College"},{"tags":{},"id":"bd362967-df94-45ec-b723-8c562abc8ccb","name":"Global
      Temperatures","contentUrl":"Regional/sheets/GlobalTemperatures","createdAt":"2021-11-01T11:32:31Z","updatedAt":"2021-11-01T11:32:31Z","viewUrlName":"GlobalTemperatures"},{"tags":{},"id":"c7a57c38-6dd8-49f0-a[...]
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - Cab3YR3ORK-M4UHp5sWbXw|4qxMDA1hfuGptVUIDQwoPXMlJu3HFhS3
    url: https://server.tableau.com/api/3.13/sites/529d2cc3-0b46-4360-aa69-688785ce1497/workbooks/969428bf-0bde-4c73-8efe-04c37ec7c2ba/connections
    method: GET
  response:
    body: '{"connections":{"connection":[{"datasource":{"id":"0bfc6543-86ab-40b1-a8b7-d73a00de7d55","name":"Stocks"},"id":"cc291ac1-f4f7-49d6-b5ff-e3d6dbc72c22","type":"hyper","embedPassword":false,"serverAddress":"","userName":"tableau_internal_user","queryTaggingEnabled":false},{"datasource":{"id":"4a1302a6-d445-41bb-b5c9-a201b466846a","name":"Economy"},"id":"b918d14e-52a0-42ba-b2fc-ad449a399fb0","type":"hyper","embedPassword":false,"serverAddress":"","userName":"tableau_internal_user","queryTaggingEnabled":false},{"datasource":{"id":"82d82617-48fe-40f1-875a-d9aa4d1e1b86","name":"Flight"},"id":"5f8bee75-8e1a-46e2-a0e7-7dd5c2fde77e","type":"hyper","embedPassword":false,"serverAddress":"","userName":"tableau_internal_user","queryTaggingEnabled":false},{"datasource":{"id":"e5ded210-1699-42c8-82db-22f0bb6b16ec","name":"Global
      Temperatures"},"id":"86dba071-8123-45a2-a5ca-c182b036d0cd","type":"hyper","embedPassword":false,"serverAddress":"","userName":"tableau_internal_user","queryTaggingEnabled":false},{"datasource":{"id":"082fa857-f964-4c29-8672-6dcfc9596efa","name":"Education"},"id":"333e0a8d-ff91-495f-b4cd-6204cee6b737","type":"hyper","embedPassword":false,"serverAddress":"","userName":"tableau_internal_user","queryTaggingEnabled":false},{"datasource":{"id":"57ec96ca-8e0b-4a53-a0d1-2714e13748bf","name":"Obesity"},"id":"89568541-da09-4aaf-b71c-930a83c538ba","type":"hyper","embedPassword":false,"serverAddress":"","userName":"tableau_internal_user","queryTaggingEnabled":false}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 995.000248ms
[...]
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Tableau-Auth:
      - Cab3YR3ORK-M4UHp5sWbXw|4qxMDA1hfuGptVUIDQwoPXMlJu3HFhS3
    url: https://server.tableau.com/api/3.13/sites/529d2cc3-0b46-4360-aa69-688785ce1497/workbooks/37040233-8f4c-4b17-aecf-5c4be36dbf27/connections
    method: GET
  response:
    body: '{"connections":{"connection":[{"datasource":{"id":"1bf138c3-1e6d-4afa-82c0-5ccd387be2bd","name":"Sales
      Navigator Connection"},"id":"1b3cc3e7-90a6-44a3-9f60-bbfd0d4a45fa","type":"webdata-direct:linkedin-snap","embedPassword":false,"serverAddress":"connectors.tableau.com","serverPort":"443","userName":"xxxxxxxxxx","queryTaggingEnabled":false}]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Tableau:
      - Tableau Server
    status: '200 '
    code: 200
    duration: 924.852026ms
[...]
